* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    width: 1920px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    background-image: url("../img/main-img.png");
    height: 700px;
}

.header-nav {
    display: flex;
    padding-top: 34px;
}

.logo-link {
    display: flex;
    margin-right: 669px;
    text-decoration: none;
}

.logo-img {
    margin-right: 11px;
}

.logo-text {
    color: #ffffff;
    font-size: 28px;
    line-height: 60px;
}

.header-phone {
    width: 28px;
    height: 42px;
    margin-top: 5px;
}

.header-right {
    text-align: left;
    margin-left: 10px;
    color: #ffffff;
    font-size: 12px;
    line-height: 24px;
    margin-right: 60px;
}

.header-right-text {
    font-family: "Roboto Light", sans-serif;
}

.header-right-number {
    font-family: "Roboto Medium", sans-serif;
    font-size: 21px;
}

.header-right-menu {
    margin-top: 6px;
}

.right-menu {
    margin-bottom: 5px;
    color: #ffffff;
}

.menu-text {
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.3px;
    text-align: center;
}

.right-menu-link {
    display: block;
    color: #ffffff;
    text-decoration: none;
}

.right-menu-link:hover {
    color: #19b5fe;
}

.header-heading {
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    line-height: 44px;
    margin-top: 78px;
    text-align: center;
}

.heading-span {
    font-size: 36px;
    color: #ffffff;
    font-weight: 700;
    line-height: 44px;
    text-align: center;
}

.header-text {
    color: #ffffff;
    font-size: 22px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
}

.header-form {
    margin-top: 45px;
    margin-left: 516px;
    margin-bottom: 21px;
}

.input-mail,
.input-name,
.input-phone {
    width: 290px;
    height: 51px;
    background-color: #ffffff;
    color: #606060;
    font-size: 13px;
    font-weight: 300;
    line-height: 24px;
    padding-left: 27px;
    margin-right: 9px;
    border-radius: 30px;
    outline: none;
    padding-right: 27px;
}

.header-btn {
    display: block;
    text-decoration: none;
    width: 232px;
    height: 61px;
    background-color: #19b5fe;
    border-radius: 30px;
    outline: none;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 61px;
    margin-left: 844px;
    transition: all 0.5s;
    border: 1px solid transparent;
}

.header-btn:hover {
    color: #19b5fe;
    background-color: #ffffff;
    border: 1px solid #19b5fe;
}

.header-text-down {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
    margin-top: 22px;
    margin-left: 757px;
}

.header-mouse {
    margin-top: 76px;
    margin-left: 952px;
}

.services {
    height: 1226px;
}

.services-heading {
    color: #363636;
    font-size: 36px;
    font-weight: 300;
    line-height: 38px;
    padding-top: 62px;
    text-align: center;
}

.services-heading-line {
    width: 350px;
    margin-top: 25px;
    border-bottom: 2px solid #19b5fe;
    margin-left: 390px;
}

.services-flex {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.services-flex-list {
    width: 555px;
    height: 320px;
    margin-bottom: 20px;
}

.services-flex-list:nth-child(2n+1) {
    margin-right: 29px;
}

.services-flex-heading {
    color: #19b5fe;
    font-size: 28px;
    font-weight: 300;
}

.services-flex-list:first-child {
   padding-top: 58px;
}

.services-list-link {
    display: block;
    text-decoration: none;
    background-color: #19b5fe;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    width: 181px;
    height: 51px;
    border-radius: 30px;
    margin-top: 25px;
    text-align: center;
    line-height: 51px;
    transition: all 0.5s;
}

.services-list-link:hover {
    background-color: #ffd801;
    color: #ffffff;
}

.services-flex-list:nth-child(4) {
     padding-top: 99px;
 }

.services-flex-list:nth-child(5) {
    padding-top: 99px;
}

.services-flex-heading {
    margin-bottom: 5px;
}

.sum-cost {
    height: 622px;
    margin-top: 52px;
    background-image: url("../img/sum-cost.png");
}

.main-cost-heading {
    text-align: center;
    padding-top: 62px;
    color: #ffffff;
    font-size: 36px;
    font-weight: 300;
    line-height: 38px;
}

.main-cost-line {
    margin-top: 29px;
    border-bottom: 1px solid #ffffff;;
    width: 377px;
    margin-left: 772px;
}

.main-cost-text {
    margin-top: 24px;
    text-align: center;
    color: #ffffff;
    font-size: 26px;
    font-weight: 300;
    line-height: 38px;
}

.main-cost-flex {
    display: flex;
}

.radio-form-text {
    color: #ffffff;
    display: block;
    height: 30px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;

}

.radio-form {
    width: 654px;
    height: 129px;
    border: 1px solid #ffffff;
    border-radius: 7px;
    padding: 15px 25px;
}

.radio-form-range {
    width: 594px;
    margin-top: 30px;
    height: 35px;
}

.choice-packet {
    width: 654px;
    height: 129px;
    border: 1px solid #ffffff;
    border-radius: 7px;
    padding: 15px 25px;
    margin-top: 10px;
}

.cost-flex-form {
    margin-top: 39px;
}

.choice-packet-heading {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 19px;
}

.choice-packet-flex {
    display: flex;
}

.choice-packet-btn {
    position: relative;
    text-decoration: none;
    text-align: center;
    line-height: 45px;
    display: block;
    width: 193px;
    height: 45px;
    border-radius: 7px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #ffffff;;
}

.choice-packet-btn:nth-child(2) {
    margin-left: 15px;
    margin-right: 15px;
}

.choice-packet-btn:hover {
    background-color: #19b5fe;
    border: 1px solid #19b5fe;
}

.choice-packet-btn:hover .drop-packet-btn {
    z-index: 2;
    display: block;
}

.drop-packet-btn {
    display: none;
    position: absolute;
    width: 381px;
    height: auto;
    text-align: center;
    padding: 25px 20px;
    background-color: #ffffff;
    top: 50px;
    left: -100px;
    border-radius: 7px;
}

.drop-text {
    color: #464646;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.drop-packet-btn:after {
    content: "";
    width: 34px;
    height: 34px;
    background-color: #ffffff;
    display: block;
    position: absolute;
    top: -8px;
    left: 175px;
    transform: rotate(45deg);
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
}